!!! html
%html
  %head
    %title
      #{L10N["APP_NAME"]} - #{content_for?(:page_title) ? yield(:page_title) : "Report incidents of food poisoning in #{L10N['CITY']}" }
    %meta{ :charset => 'utf-8' }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    -if L10N["TWITTER_ENABLED"] == true
      %meta{ :name => "twitter:card", :content => "summary" }
      %meta{ :name => "twitter:site", :content => "#{L10N["TWITTER_HANDLE"]}" }
      %meta{ :name => "twitter:creator", :content => "#{L10N["TWITTER_HANDLE"]}" }
      %meta{ :name => "twitter:title", :content => "#{L10N["APP_NAME"]}" }
      %meta{ :name => "twitter:url", :content => "#{L10N["SITE_URL"]}" }
      %meta{ :name => "twitter:description", :content => "#{L10N["TWITTER_DESCRIPTION"]}" }
      %meta{ :name => "twitter:image", :content => image_url('logo_twitter.png') }
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Open+Sans+Condensed:700", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    /[if lt IE 9]
      = javascript_include_tag "html5shiv"
    = csrf_meta_tags
  %body{:class => "#{action_name}"}
    %header#header
      %nav#nav.clearfix
        .container
          .row
            %ul.span12
              %li= link_to "Home", "/"
              %li= link_to "About", page_path("about")
              %li= link_to "Q&A", page_path("questions-answers")
              %li= link_to "Press", page_path("press")
              %li= link_to "Blog", "https://foodbornechicago.wordpress.com/"
              -if L10N["TWITTER_ENABLED"] == true
                %li
                  %a.twitter-follow-button{"data-show-count" => "false", :href => "#{L10N['TWITTER_URL']}"} Follow #{L10N['TWITTER_HANDLE']}
      .container
        .span12
          %p.logo-wrap
            %a.logo{:href => "/"}
              = image_tag "#{L10N['LOGO']}", :width => 70
              #{L10N["APP_NAME"]}
          %p.subheader
            Report food poisoning
            %span to the #{L10N["AGENCY"]}
          %p
            A project of
            %a.scc{:href => "#{L10N['PARTNER_WEBSITE']}", title: "#{L10N['PARTNER_ORG']}" }
              = image_tag "#{L10N['PARTNER_LOGO']}", :alt => "#{L10N['PARTNER_LOGO_ALT']}"
            and
            %a.scc{:href => "#{L10N['AGENCY_WEBSITE']}", title: "#{L10N['AGENCY']}"}
              = image_tag "#{L10N['AGENCY_LOGO']}", :alt => "#{L10N['AGENCY_LOGO_ALT']}"

    = yield
    %script{ :type => 'text/javascript', :src => '//maps.googleapis.com/maps/api/js?sensor=false&libraries=places' }
    = javascript_include_tag "application"
    - if SETTINGS['GOOGLE_ANALYTICS']
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{SETTINGS["GOOGLE_ANALYTICS"]}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
